@use "../colors/Allcolors" as *;

// mixins
@use '../helpers/mixin/mixins' as*;

body {
  background-image: url("../assets/home/background-home-desktop.jpg");
}

main {
  

  .contaner {
    .space {
        color: #FFFFFF;
        max-width: 445px;
    
        h1 {
          text-transform: uppercase;
          font-family: 'Bellefair';
          font-style: normal;
          font-weight: 400;
          font-size: 150px;
          line-height: 172px;
        }
    
        p,
        .h5 {
          color: $pragraph;
        }
    
      }
    
      .explore {
        width: 274px;
        height: 274px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    
        background-color: #FFFFFF;
        border-radius: 50%;
        text-transform: uppercase;
        color: $Darker;
    
        &::before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          background-color: #FFFFFF;
          opacity: 0;
          border-radius: 50%;
          transform: opacity 500ms linear,
              transform 750ms ease-in-out;
        }

        &:hover::before {
          opacity: 0.1;
          transform: scale(1.5);
        }
      }
  }
}


@include breakPoint(mobile) {
  body {
    background-image: url('../assets/home/background-home-mobile.jpg');
  }

  .contaner {
    .space {
      margin-bottom: 80px;
      text-align: center;

      .h5 {
        font-size: 18px;
        line-height: 19px;
        letter-spacing: 2.7px;
      }

      h1 {
        font-size: 80px !important;
      }

      p {
        font-size: 15px;
        line-height: 25px;
      }
    }
  }
}

@include breakPoint(small) {

  body {
    background-image: url('../assets/home/background-home-tablet.jpg');
  }

  main {
    .contaner {
      text-align: center !important;

      .h5 {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 3.375px;
      }

      p {
        font-size: 16px;
      }

      .space {
        margin-bottom: 155px;
      }
    }
  }

}