// colors
@use '../colors/Allcolors' as *;

// All My fonts
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');

.B-400 {
  font-weight: 400;
}
.B-700 {
  font-weight: 700;
}

.BarC {
  font-family: 'Barlow Condensed',sans-serif;
}
.Bar {
  font-family: 'Barlow', sans-serif;
}
.Bell{
  font-family: 'Bellefair', serif;
}
h1 {
  font-size: 150px;
  font-family: 'Bellefair', serif;
}
h2 {
  font-size: 100px;
  font-family: 'Bellefair', serif;
}
h3 {
  font-size: 56px;
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
  color: #FFFFFF;
}
h4 {
  font-size: 32px;
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
}
.h5 {
  font-size: 28px;
  letter-spacing: 4.75px;
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
}
.Sub-h1 {
  font-family: 'Bellefair', serif;
  font-size: 28px;
}
.Sub-h2 {
  font-size: 14px;
  letter-spacing: 2.35px;
  color: $pragraph;
  text-transform: uppercase;
}
.Nav{
  font-size: 16px;
  letter-spacing: 2.7px;
  font-family: 'Barlow Condensed', sans-serif;
}
.F-18 {
  font-size: 18px;
}
.F-16 {
  font-size: 16px;
}
.F-32 {
  font-size: 32px;
}
.letter-2 {
  letter-spacing: 2px;
  
}
.numbering {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 2.7px;
}

.crow-h {
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */

  text-transform: uppercase;

  color: #FFFFFF;

  mix-blend-mode: normal;
  opacity: 0.5;
}

p {
  color: $pragraph !important;
}